.my-list {
    gap: 24px;
    color: white;
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 600px;
}

.empty-list {
    text-align: center;
}

.my-list h1 {
    text-align: center;
}

.my-list ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
}

.my-list ul li {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.my-list ul li div {
    display: flex;
    align-items: center;
    gap: 14px;
}

.my-list ul li div a {
    text-decoration: none;
    color: white;
    transition: ease 400ms;
}

.my-list ul li div a:hover {
    text-decoration: none;
    color: #C66648;
}

.my-list ul li div button {
    cursor: pointer;
    border-radius: 4px;
    padding: 4px;
    background-color: #924848;
    border: none;
    color: white;
    transition: ease 400ms;
}

.my-list ul li div button:hover {
    scale: 1.03;
}

/*
RESPONSIVIDADE
*/

@media (max-width: 740px) {
    .my-list {
        width: 480px;
    }
}

@media (max-width: 560px) {
    .my-list {
        width: 400px;
        font-size: 14px;
    }

    .my-list ul {
        gap: 24px;
    }
}

@media (max-width: 480px) {
    .app {
        padding-bottom: 140px;
    }

    .my-list ul {
        gap: 40px;
    }

    .my-list ul li {
        font-size: 16px;
        gap: 6px;
        flex-direction: column;
    }
}